{% extends "layout.html" %}
{% block content %}
  <section class="sticky-container">
    <div class="sticky-note yellow">
      <h3>Asesoría Personalizada</h3>
      <p>Ofrecemos atención y asesoría personalizada en cada compra para garantizar la satisfacción total.</p>
    </div>
    <div class="sticky-note red">
      <h3>Variedad y Disponibilidad</h3>
      <p>Contamos con una amplia variedad de productos y disponibilidad inmediata en nuestras sucursales.</p>
    </div>
    <div class="sticky-note blue">
      <h3>Ubicación Estratégica</h3>
      <p>Dos sucursales al norte de Aguascalientes para tu comodidad y fácil acceso.</p>
    </div>
  </section>
{% endblock %}
